<?xml version="1.0"?>
<config>
  <modules>
    <STP_CC>
      <version>0.1.0</version>
    </STP_CC>
  </modules>
  <global>
    <models>
      <cc>
        <class>STP_CC_Model</class>
      </cc>
    </models>
    <helpers>
      <cc>
        <class>STP_CC_Helper</class>
      </cc>
    </helpers>
    <blocks>
      <cc>
        <class>STP_CC_Block</class>
      </cc>
    </blocks>
  </global>
  <default>
    <payment>
      <cc>
        <model>cc/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>SolidTrustPay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </cc>
    </payment>
  </default>
  <frontend>
    <routers>
      <cc>
        <use>standard</use>
        <args>
          <module>STP_CC</module>
          <frontName>cc</frontName>
        </args>
      </cc>
    </routers>
  </frontend>
</config>
