<?xml version="1.0"?>
<config>
    <modules>
       <Workiverse_Perfectmoney>
          <version>0.1.1</version>
       </Workiverse_Perfectmoney>
    </modules>
 
    <global>
    <blocks>
        <perfectmoney>
            <class>Workiverse_Perfectmoney_Block</class>
        </perfectmoney>
    </blocks>
 
        <models>
            <perfectmoney>
                <class>Workiverse_Perfectmoney_Model</class>
            </perfectmoney>
        </models>
		
		<helpers>
            <perfectmoney>
                <class>Workiverse_Perfectmoney_Helper</class>
            </perfectmoney>
        </helpers>
 
        <resources>
            <perfectmoney_setup>
                <setup>
                    <module>Workiverse_Perfectmoney</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </perfectmoney_setup>
            <perfectmoney_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </perfectmoney_write>
            <perfectmoney_read>
               <connection>
                <use>core_read</use>
              </connection>
            </perfectmoney_read>
        </resources>
    </global>
   <frontend>
        <secure_url>
            <perfectmoney_processing>/perfectmoney/processing</perfectmoney_processing>
        </secure_url>
        <routers>
            <perfectmoney>
                <use>standard</use>
                <args>
                    <module>Workiverse_Perfectmoney</module>
                    <frontName>perfectmoney</frontName>
                </args>
            </perfectmoney>
        </routers>
        <translate>
            <modules>
                <Workiverse_Perfectmoney>
                    <files>
                        <default>Workiverse_Perfectmoney.csv</default>
                    </files>
                </Workiverse_Perfectmoney>
            </modules>
        </translate>
        <layout>
            <updates>
                <perfectmoney>
                    <file>perfectmoney.xml</file>
                </perfectmoney>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <perfectmoney>
                <active>0</active>
                <model>perfectmoney/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Perfect Money</title>
                <allowspecific>0</allowspecific>
            </perfectmoney>
         </payment>
    </default>
</config>