<?xml version="1.0"?>
<config>
    <modules>
        <Thienha_Webmoney>
            <version>0.1.0</version>
        </Thienha_Webmoney>
    </modules>

    <global>
        <models>
            <webmoney>
                <class>Thienha_Webmoney_Model</class>
                <resourceModel>webmoney_mysql4</resourceModel>
            </webmoney>
            <webmoney_mysql4>
                <class>Thienha_Webmoney_Model_Mysql4</class>
                <entities>
                    <webmoney>
                        <table>thienha_webmoney</table>
                    </webmoney>
                </entities>
            </webmoney_mysql4>
        </models>
        <resources>
            <webmoney_setup>
                <setup>
                    <module>Thienha_Webmoney</module>
                    <class>Thienha_Webmoney_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webmoney_setup>
            <webmoney_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webmoney_write>
            <webmoney_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webmoney_read>
        </resources>
        <blocks>
            <webmoney><class>Thienha_Webmoney_Block</class></webmoney>
        </blocks>
		<helpers>
            <webmoney>
                <class>Thienha_Webmoney_Helper</class>
            </webmoney>
        </helpers>				
    </global>

    <frontend>
        <secure_url>
            <webmoney_index>/webmoney/index</webmoney_index>
        </secure_url>
        <routers>
            <webmoney>
                <use>standard</use>
                <args>
                    <module>Thienha_Webmoney</module>
                    <frontName>Payeer</frontName>
                </args>
            </webmoney>
        </routers>
        <translate>
            <modules>
                <Thienha_Webmoney>
                    <files>
                        <default>Thienha_Webmoney.csv</default>
                    </files>
                </Thienha_Webmoney>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
		<layout>
			<updates>
				<webmoney>
					<file>webmoney.xml</file>
				</webmoney>
			</updates>
		</layout>
        <translate>
            <modules>
                <Thienha_Webmoney>
                    <files>
                        <default>Thienha_Webmoney.csv</default>
                    </files>
                </Thienha_Webmoney>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <webmoney>
				<active>0</active>
                <url>https://merchant.webmoney.ru/lmi/payment.asp</url>
                <model>webmoney/webmoney</model>
                <title>Payeer</title>
            </webmoney>
        </payment>
    </default>
</config>
