<?xml version="1.0"?>
<config>
  <modules>
    <Tilus_Le>
      <version>0.1.1</version>
    </Tilus_Le>
  </modules>
  <global>
    <helpers>
      <le>
        <class>Tilus_Le_Helper</class>
      </le>
    </helpers>
	<models>
	  <le>
		<class>Tilus_Le_Model</class>
		<resourceModel>le_mysql4</resourceModel>
	  </le>
	</models>
	<resources>
	  <categoryattribute1474346349_setup>
		<setup>
		  <module>Tilus_Le</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1474346349_setup>
	  <categoryattribute1474346349_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1474346349_write>
	  <categoryattribute1474346349_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1474346349_read>
	</resources>
  </global>
</config> 
