<?xml version="1.0"?>

<config>
    <modules>
        <MagentoCenter_Okpay>
            <version>1.0.2</version>
        </MagentoCenter_Okpay>
    </modules>

    <global>

        <models>
            <okpay>
                <class>MagentoCenter_Okpay_Model</class>
            </okpay>
        </models>

        <blocks>
            <okpay>
                <class>MagentoCenter_Okpay_Block</class>
            </okpay>
        </blocks>

        <resources>
            <okpay_setup>
                <setup>
                    <module>MagentoCenter_Okpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </okpay_setup>
            <okpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </okpay_write>
            <okpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </okpay_read>
        </resources>
        <helpers>
            <okpay>
                <class>MagentoCenter_Okpay_Helper</class>
            </okpay>
        </helpers>
    </global>


    <frontend>
        <secure_url>
            <okpay_redirect>/okpay/redirect/00</okpay_redirect>
        </secure_url>
        <routers>
            <okpay>
                <use>standard</use>
                <args>
                    <module>MagentoCenter_Okpay</module>
                    <frontName>okpay</frontName>
                </args>
            </okpay>
        </routers>
        <translate>
            <modules>
                <MagentoCenter_Okpay>
                    <files>
                        <default>MagentoCenter_Okpay.csv</default>
                    </files>
                </MagentoCenter_Okpay>
            </modules>
        </translate>
    </frontend>


    <adminhtml>
        <translate>
            <modules>
                <MagentoCenter_Okpay>
                    <files>
                        <default>MagentoCenter_Okpay.csv</default>
                    </files>
                </MagentoCenter_Okpay>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <okpay>
                <active>0</active>
                <model>okpay/checkout</model>
                <title>Okpay.com</title>
                <okpay_walletid>OK########</okpay_walletid>
            </okpay>
        </payment>
    </default>
</config>
