<?xml version="1.0"?>
<config>
  <modules>
    <TCustom_Toanlm>
      <version>0.1.0</version>
    </TCustom_Toanlm>
  </modules>
  <global>
    <helpers>
      <toanlm>
        <class>TCustom_Toanlm_Helper</class>
      </toanlm>
    </helpers>
	<models>
	  <toanlm>
		<class>TCustom_Toanlm_Model</class>
		<resourceModel>toanlm_mysql4</resourceModel>
	  </toanlm>
	</models>
	<resources>
	  <categoryattribute1490277396_setup>
		<setup>
		  <module>TCustom_Toanlm</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1490277396_setup>
	  <categoryattribute1490277396_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1490277396_write>
	  <categoryattribute1490277396_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1490277396_read>
	</resources>
  </global>
</config> 