<?xml version="1.0"?>
<config>
    <modules>
        <Websmart_ManageKeys>
            <version>0.1.0</version>
        </Websmart_ManageKeys>
    </modules>
    <frontend>
        <routers>
            <managekeys>
                <use>standard</use>
                <args>
                    <module>Websmart_ManageKeys</module>
                    <frontName>managekeys</frontName>
                </args>
            </managekeys>
        </routers>
        <layout>
            <updates>
                <managekeys>
                    <file>websmart/managekeys.xml</file>
                </managekeys>
            </updates>
        </layout>
        <translate>
            <modules>
                <Websmart_ManageKeys>
                    <files>
                        <default>Websmart_ManageKeys.csv</default>
                    </files>
                </Websmart_ManageKeys>
            </modules>
        </translate>
		<events>
			<controller_action_predispatch>
                <observers>
                    <managekeys_observers>
                        <class>managekeys/observer</class>
                        <method>controllerActionPredispatchFrontend</method>
                    </managekeys_observers>
                </observers>
            </controller_action_predispatch>
		</events>
    </frontend>
    <admin>
        <routers>
            <managekeysadmin>
                <use>admin</use>
                <args>
                    <module>Websmart_ManageKeys</module>
                    <frontName>managekeysadmin</frontName>
                </args>
            </managekeysadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <managekeys>
                    <file>websmart/managekeys.xml</file>
                </managekeys>
            </updates>
        </layout>
        <translate>
            <modules>
                <Websmart_ManageKeys>
                    <files>
                        <default>Websmart_ManageKeys.csv</default>
                    </files>
                </Websmart_ManageKeys>
            </modules>
        </translate>
		<events>
			<controller_action_predispatch>
                <observers>
                    <managekeys_observers>
                        <class>managekeys/observer</class>
                        <method>controllerActionPredispatchAdmin</method>
                    </managekeys_observers>
                </observers>
            </controller_action_predispatch>
		</events>
    </adminhtml>   
    <global>
        <models>
            <managekeys>
                <class>Websmart_ManageKeys_Model</class>
                <resourceModel>managekeys_mysql4</resourceModel>
            </managekeys>
            <managekeys_mysql4>
                <class>Websmart_ManageKeys_Model_Mysql4</class>
                <entities>
                    <managekeys>
                        <table>managekeys</table>
                    </managekeys>
                </entities>
            </managekeys_mysql4>
        </models>
        <resources>
            <managekeys_setup>
                <setup>
                    <module>Websmart_ManageKeys</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managekeys_setup>
            <managekeys_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managekeys_write>
            <managekeys_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managekeys_read>
        </resources>
        <blocks>
            <managekeys>
                <class>Websmart_ManageKeys_Block</class>
            </managekeys>
        </blocks>
        <helpers>
            <managekeys>
                <class>Websmart_ManageKeys_Helper</class>
            </managekeys>
        </helpers>
        <events>
			<sales_order_invoice_save_before>
                <observers>
                    <managekeys_observers>
                        <class>managekeys/observer</class>
                        <method>salesOrderInvoiceSaveBefore</method>
                    </managekeys_observers>
                </observers>
            </sales_order_invoice_save_before>
        </events>
    </global>
	<default>
        <managekeys>
            <general>
				<enable>1</enable>
				<detect_country>A1,A2,VN</detect_country>
				<detect_admin>1</detect_admin>
				<detect_proxy>1</detect_proxy>
                <detect_software>1</detect_software>
                <detect_proxy_header>1,2,3,4,5,6,7,8</detect_proxy_header>
                <detect_proxy_hostbyaddr>0</detect_proxy_hostbyaddr>
                <detect_proxy_bankip>65.49.0.*;64.55.*.*;64.55.*.*;69.22.*.*;69.167.*.*;74.115.*.*;128.241.*.*;140.174.*.*;204.2.*.*;206.14.*.*;209.107.*.*</detect_proxy_bankip>
			</general>
		</managekeys>
	</default>
</config>